body,
html {
  height: 100%;
  margin: 0;
  color: green;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  background-color: black;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.typing-container {
  align-items: center;
  font-size: xx-large;
  display: inline-flex;
  /* flex-grow: 1; */
}

#typing-text {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.cursor {
  display: inline-block;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.social-links {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-links a {
  color: #333;
  font-size: 32px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #0077b5;
}

.social-links a:nth-child(2):hover {
  color: #ffffff;
}
